@charset "UTF-8";
/*******************************
* 変数定義
********************************/
:root {
    --header-height:70px;
    --footer-height:70px;
/*  --main-color: #7117ea;
  --sub-color: #ea6060;
  --bg-gradation: linear-gradient(135deg, var(--main-color) 0%, var(--sub-color) 100%) fixed;*/
}

/*******************************
* 背景
********************************/

body {
    /*padding-bottom:;*/
    background-color: #fff7a5;
    width:100%;
    height:100%;
}

.chatBody {
    background-color: #7897C5;
    width:95%;
    height:100%;
    margin:0 auto; /*中央寄せ*/
    padding-top: 5%;
    margin-top:var(--header-height);
    margin-bottom: var(--footer-height);
}
/*******************************
* 個別スタイル
********************************/

#chatInput {
    padding: 0px !important;
    height: 50px !important;
    min-height: 50px !important;
}

#chatStatus {
    font-size: 12px !important;
}

#chatView {
    padding-top: 50px !important;
    display: block !important;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: #aaaaaa;
    z-index: 10
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: #aaaaaa;
    z-index: 10
}

